@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-dashboard-card-from: var(--dashboard-card-from);
  --color-dashboard-card-to: var(--dashboard-card-to);
  --color-dashboard-border: var(--dashboard-border);

  --font-sans: var(--font-manrope);
  --font-heading: var(--font-manrope);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);

  --color-sidebar-active-gradient: var(--sidebar-active-gradient);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);

  --color-table-header-bg: var(--table-header-bg);
  --color-table-border: var(--table-border);
}

:root {
  --radius: 1rem;
  --required: oklch(0.629 0.1902 23.0704);

  --background: oklch(98.8% 0.004 255);
  --foreground: oklch(24% 0.02 255);

  --card: oklch(100% 0 0);
  --card-foreground: oklch(24% 0.02 255);

  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(24% 0.02 255);

  --primary: oklch(0.55 0.17 252);
  --primary-foreground: oklch(100% 0 0);

  --secondary: oklch(95.812% 0.01866 243.129);
  --secondary-foreground: oklch(24% 0.02 255);

  --muted: oklch(92.876% 0.01272 255.643);
  --muted-foreground: oklch(50% 0.02 255);

  --accent: oklch(87.598% 0.05585 244.392);
  --accent-foreground: oklch(24% 0.02 255);

  --border: oklch(90% 0.01 250);
  --input: oklch(90% 0.01 250);
  --ring: oklch(0.65 0.16 240);

  --destructive: oklch(0.62 0.23 28);
  --destructive-foreground: oklch(100% 0 0);

  --sidebar-trigger: oklch(81.817% 0.04996 248.485);

  --sidebar: oklch(98.5% 0.004 255);
  --sidebar-foreground: oklch(24% 0.02 255);

  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);

  --sidebar-accent: oklch(92% 0.03 244);
  --sidebar-accent-foreground: oklch(24% 0.02 255);

  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --table-border: oklch(96.696% 0.00298 264.792);

  --sidebar-active-gradient: linear-gradient(180deg, #1482dd 0%, #001e4b 100%);

  --dashboard-card-from: #f6fafe;
  --dashboard-card-to: #ffffff;
  --dashboard-border: #d9e7f2;

  --success: #f0fdf4;
  --success-foreground: #16a34a;

  --warning: #fffbeb;
  --warning-foreground: #d97706;

  --info: #eff6ff;
  --info-foreground: #2563eb;

  --danger: #fef2f2;
  --danger-foreground: #dc2626;

  --neutral: #fef3c7;
  --neutral-foreground: #92400e;
  --table-header-bg: oklch(0.98 0.015 240);
}

.dark {
  --background: oklch(17% 0.015 255);
  --foreground: oklch(97% 0.003 255);

  --card: oklch(22% 0.02 255);
  --card-foreground: oklch(97% 0.003 255);

  --popover: oklch(22% 0.02 255);
  --popover-foreground: oklch(97% 0.003 255);

  --primary: oklch(0.75 0.14 245);
  --primary-foreground: oklch(16% 0.02 255);

  --secondary: oklch(24.634% 0.09134 258.044);
  --secondary-foreground: oklch(97% 0.003 255);

  --muted: oklch(92.876% 0.01272 255.643);
  --muted-foreground: oklch(75% 0.01 255);

  --accent: oklch(30% 0.03 250);
  --accent-foreground: oklch(97% 0.003 255);

  --border: oklch(100% 0 0 / 8%);
  --input: oklch(100% 0 0 / 10%);
  --ring: oklch(0.72 0.16 245);

  --destructive: oklch(0.68 0.2 28);
  --destructive-foreground: oklch(100% 0 0);

  --sidebar: oklch(19% 0.02 255);
  --sidebar-foreground: oklch(97% 0.003 255);

  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);

  --sidebar-accent: oklch(28% 0.03 250);
  --sidebar-accent-foreground: oklch(97% 0.003 255);

  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);

  --required: oklch(0.629 0.1902 23.0704);

  --dashboard-card-from: oklch(22% 0.02 255);
  --dashboard-card-to: oklch(19% 0.02 255);
  --dashboard-border: oklch(100% 0 0 / 10%);

  --success: rgb(20 83 45 / 0.25);
  --success-foreground: #4ade80;

  --warning: rgb(120 53 15 / 0.25);
  --warning-foreground: #fbbf24;

  --info: rgb(30 64 175 / 0.25);
  --info-foreground: #60a5fa;

  --danger: rgb(127 29 29 / 0.25);
  --danger-foreground: #f87171;

  --neutral: rgb(120 53 15 / 0.25);
  --neutral-foreground: #facc15;

  --table-header-bg: oklch(0.92 0.015 240);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply scroll-smooth font-sans;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

@layer utilities {
  .status-success {
    @apply bg-success text-success-foreground;
  }

  .status-warning {
    @apply bg-warning text-warning-foreground;
  }

  .status-info {
    @apply bg-info text-info-foreground;
  }

  .status-danger {
    @apply bg-danger text-danger-foreground;
  }

  .status-neutral {
    @apply bg-neutral text-neutral-foreground;
  }

  .text-success {
    @apply text-success-foreground;
  }

  .text-warning {
    @apply text-warning-foreground;
  }

  .text-info {
    @apply text-info-foreground;
  }

  .text-danger {
    @apply text-danger-foreground;
  }

  .text-neutral {
    @apply text-neutral-foreground;
  }

  .bg-success {
    @apply bg-success;
  }

  .bg-warning {
    @apply bg-warning;
  }

  .bg-info {
    @apply bg-info;
  }

  .bg-danger {
    @apply bg-danger;
  }

  .bg-neutral {
    @apply bg-neutral;
  }
}

@layer components {
  .label-error {
    @apply block text-xs text-red-500;
  }
  .table-border {
    @apply border border-muted-foreground/10;
  }
  .border-level-1 {
    @apply border border-foreground;
  }
}

.label-required::after {
  content: " *";
  color: var(--required);
}

.label-required::after {
  content: " *";
  color: var(--required);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

[data-sidebar="trigger"] {
  color: var(--sidebar-trigger);
}

[data-sidebar="trigger"]:hover {
  color: var(--sidebar-trigger);
}
